

.fontana_form__inputAttr {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  width: 350px;
  height: 70px;  
  background: transparent;
  outline: none;
  color:  #726659;
  border-style:solid;
  -webkit-border-image: -webkit-linear-gradient(
        left,
        rgba(179,172,167,1) 12%,
        rgba(0,0,0,1) 50%,
        rgba(179,172,167,1) 85%
    ) 0 0 100% 0/0 0 2px 0 stretch;
  
  -moz-border-image: -moz-linear-gradient(
        left,
        rgba(179,172,167,1) 1%,
        rgba(0,0,0,1) 50%,
        rgba(179,172,167,1) 100%
    ) 0 0 100% 0/0 0 2px 0 stretch;

  -o-border-image: -o-linear-gradient(
        left,
        rgba(179,172,167,1) 1%,
        rgba(0,0,0,1) 50%,
        rgba(179,172,167,1) 100%
    ) 0 0 100% 0/0 0 2px 0 stretch;
  
   border-image: linear-gradient(
        to left,
        rgba(179,172,167,1) 1%,
        rgba(0,0,0,1) 50%,
        rgba(179,172,167,1) 100%
    ) 0 0 100% 0/0 0 2px 0 stretch;

   border-image-slice: 1;
     
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
}
   .fontana_form__inputAttr::-webkit-input-placeholder, 
   #fontanta_form__message::-webkit-input-placeholder {
     font-size: 1.2em;
   }


   .fontanta_form__inputAttr::-moz-placeholder, 
   #fontanta_form__message::-moz-placeholder {
     color: #aca49c;
     font-size: 1.2em;
   }

   .fontana_form__inputAttr:focus::-moz-placeholder,  
   #fontanta_form__message:focus::-moz-placeholder {
     /*color: #FF530D;*/
   }

   .fontana_form__inputAttr::placeholder,   
   #fontanta_form__message::placeholder {
     color: #aca49c;
     font-size: 1.2em;
   }

.fontanta_form__inputAttr:focus::placeholder,   
#fontana_form__message::focus:placeholder {
  color: #bbb5af;
}

.fontana_form__inputAttr::-ms-placeholder, 
 #fontana_form__message::-ms-placeholder {
  color: #aca49c;
  font-size: 1.2em;
}

.fontana_form__inputAttr:focus::-ms-placeholder,    #fontanta_form__message:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

.fontana_form__inputAttr:hover::-webkit-input-placeholder, 
#fontana_form__message:hover::-webkit-input-placeholder {
  font-size: 1.2em;
}


.fontana_form__inputAttr:hover::-moz-placeholder, 
#fontana_form__message:hover::-moz-placeholder {
  font-size: 1.2em;
}

.fontana_form__inputAttr:hover:focus::-moz-placeholder,
#fontana_formt__message:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

.fontana_form__inputAttr:hover::placeholder, 
#fontana_form__message:hover::placeholder {
  color: #e2dedb;
  font-size:1.2em;
}

.fontana_form__inputAttr:hover:focus::placeholder, 
#fontana_form__message:hover:focus::placeholder {
  color: #2e8b57;
}

.fontana_form__inputAttr:hover::placeholder, 
#fontana_form__message:hover::placeholder {
  color: #e2dedb;
  font-size:1.2em; 
}

.fontana_form__inputAttr:hover:focus::-ms-placeholder,
#fontana_form__message:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#fontanta_form__header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 7px;
 
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fontana_form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}


#fontana_form__message {

  width: 350px;
  height: 250px;
  max-height: 300px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  
  
  -webkit-border-image: -webkit-linear-gradient(
        bottom,
        rgba(179,172,167,1) 12%,
        rgba(0,0,0,1) 50%,
        rgba(179,172,167,1) 85%
    ) 0 100% 0 100%/0 2px 0 2px stretch;
  
   -moz-border-image: -moz-linear-gradient(
        bottom,
        rgba(179,172,167,1) 1%,
        rgba(0,0,0,1) 50%,
        rgba(179,172,167,1) 100%
    ) 0 100% 0 100%/0 2px 0 2px stretch;
  
    -o-border-image: -o-linear-gradient(
        bottom,
        rgba(179,172,167,1) 1%,
        rgba(0,0,0,1) 50%,
        rgba(179,172,167,1) 100%
    ) 0 100% 0 100%/0 2px 0 2px stretch;
  
    border-image: linear-gradient(
        bottom,
        rgba(179,172,167,1) 1%,
        rgba(0,0,0,1) 50%,
        rgba(179,172,167,1) 100%
    ) 0 100% 0 100%/0 2px 0 2px stretch;

      border-image-slice: 1;
      box-sizing: border-box !important; 
}
  

.fontana_form__inputAttr:required:valid{

   border-style: solid;
    
    -webkit-border-image: -webkit-linear-gradient(
        left,
        rgba(0,0,0,1) 1%,
        rgba(179,172,167,1) 50%,
        rgba(0,0,0,1) 100%
    ) 0 0 100% 0/0 0 2px 0 stretch;

    -moz-border-image: -moz-linear-gradient(
        left,
        rgba(0,0,0,1) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
    ) 0 0 100% 0/0 0 2px 0 stretch;

    -o-border-image: -o-linear-gradient(
        left,
        rgba(0,0,0,1) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
    ) 0 0 100% 0/0 0 2px 0 stretch;

    border-image: linear-gradient(
        to left,
        rgba(0,0,0,1) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
    ) 0 0 100% 0/0 0 2px 0 stretch;
} 

#fontana_form__message:required:valid{
  
  border-style: solid;
    
  -webkit-border-image: -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,1) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
  ) 0 100% 0 100%/0 2px 0 2px stretch;
  -moz-border-image: -moz-linear-gradient(
        bottom,
        rgba(0,0,0,1) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
  ) 0 100% 0 100%/0 2px 0 2px stretch;
  -o-border-image: -o-linear-gradient(
        bottom,
        rgba(0,0,0,1) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 85%
  ) 0 100% 0 100%/0 2px 0 2px stretch;
  border-image: linear-gradient(
        bottom,
        rgba(0,0,0,1) 12%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
    ) 0 100% 0 100%/0 2px 0 2px stretch;
}
#fontana_form__textbottom{
 
  width:344px;
  margin-top: -2px;
  border-style:solid;
  -webkit-border-image: -webkit-linear-gradient(
        left,
        rgba(179,172,167,1) 12%,
        rgba(0,0,0,1) 50%,
        rgba(179,172,167,1) 85%
  ) 100% 0 0 0/2px 0 0 0 stretch;
  -moz-border-image: -moz-linear-gradient(
        left,
        rgba(179,172,167,1) 12%,
        rgba(0,0,0,1) 50%,
        rgba(179,172,167,1) 85%
  ) 100% 0 0 0/2px 0 0 0 stretch;
  -o-border-image: -o-linear-gradient(
        left,
        rgba(179,172,167,1) 12%,
        rgba(0,0,0,1) 50%,
        rgba(179,172,167,1) 85%
  ) 100% 0 0 0/2px 0 0 0 stretch;
  border-image: linear-gradient(
        to left,
        rgba(179,172,167,1) 12%,
        rgba(0,0,0,1) 50%,
        rgba(179,172,167,1) 85%
  ) 100% 0 0 0/2px 0 0 0 stretch;
}

#fontana_form__message:required:valid + #fontana_form__textbottom{
  
  border-style: solid;  
  -webkit-border-image: -webkit-linear-gradient(
        left,
        rgba(0,0,0,1) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
  ) 0 0 100% 0/0 0 2px 0 stretch;
  -moz-border-image: -moz-linear-gradient(
        left,
        rgba(0,0,0,1) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
  ) 0 0 100% 0/0 0 2px 0 stretch;
  -o-border-image: -o-linear-gradient(
        left,
        rgba(0,0,0,1) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
  ) 0 0 100% 0/0 0 2px 0 stretch;
  border-image: linear-gradient(
        to left,
        rgba(0,0,0,1) 1%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,0,1) 100%
  ) 0 0 100% 0/0 0 2px 0 stretch;
     
}